image: php:8.3-alpine

pipelines:
  default:
    - step:
        name: phpunit
        script:
          - apk update && apk add gmp-dev && docker-php-ext-install gmp
          - curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
          - composer install
          - vendor/bin/phpunit tests
